* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Segoe UI;
}

body {
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background-size:cover;
  background-position:center;
  transition:0.5s ease;
  background-color: rgb(17, 17, 17);
}

.app {
  width:100%;
  max-width:400px;
  padding:20px;
}

.card {
    backdrop-filter: blur(15px);
    background: linear-gradient(335deg, #23b3b6, #1d829b); 
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    color: #fff; 
    box-shadow: 0 20px 40px rgba(0,0,0,0.5);
}

h1, h2, p {
    text-shadow: 1px 1px 4px rgba(0,0,0,0.6);
}


.search {
  margin:20px 0;
}

.search input {
  padding:12px;
  width:65%;
  border: none;
  border-radius:8px;
}

.search button {
  padding:12px;
  border:none;
  background:#00b4db;
  color:white;
  border-radius:8px;
  cursor:pointer;
}

.search button:hover {
   background-color: #1aa6c5;
}

.weather img {
  width:100px;
}

.hidden {
  display:none;
}

#icon {
  font-size: 90px;       
  margin: 10px 0;
  transition: 0.3s ease;
  text-shadow: 0 5px 15px rgba(0,0,0,0.4);
}

.weather-image {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.weather-image img {
    width: 50%;          
    height: 140px;      
    object-fit: cover;
    border-radius: 12px;
    display: none;
    transition: 0.3s ease;
}

